<!DOCTYPE html>
<html>
<head>
  <title>DeadLetterOffice</title>
  <%= stylesheet_link_tag    "dead_letter_office/application", :media => "all" %>
  <%= javascript_include_tag "dead_letter_office/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
